<h2>{{viewTitle}}</h2>
<br><br>

<form action="/consignment" method="POST" autocomplete="off">
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="NAME" name="name">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="ADDRESS" name="address">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="tel" placeholder="MOBILE NO." name="mobile">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="EMAIL ID" name="email">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="SENDERS'S NAME" name="Sender">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="RECIEVER'S NAME" name="Reciever">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="PICKUP LOCATION" name="Source_Branch">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="DELIVERY LOCATION" name="Destination_Branch">
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="WEIGHT OF PACKAGE" name="Weight">
    </div>

    <!-- <div class="p-t-20">
        <button class="btn btn--radius btn--green" type="button" id="id-gen" >Generate User Id</button>
    </div>


    <div class="inv-input" id="inv-input-id">
        <input type="text" name="userid">
    </div>

     -->
    <div class="p-t-20">
        <button class="btn btn--radius btn--green" type="submit" >Submit</button>
    </div>
</form>
<!-- </div>
</div>
</div>
</div> -->

<!-- <script>


let Id = document.querySelector("#id-gen");

Id.addEventListener('click',function(){

let genid = Date.now();

let IdInp = document.getElementById("inv-input-id").innerHTML = genid;

console.log(genid);
}); -->
