<%- include("partials/header2.ejs"); -%>

<div class="page-wrapper bg-green p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"><img class="image" src="img/truck2.jpg"></div>
            <div class="card-body">
                <h2 class="title">Consignment Info</h2>
                  <h3 class="card-1 btn btn-lg btn--radius m-b-20 m-t-10 bg-grey">cons_nofrgrgkakllh'ka'kej'rkyhnkejy/khiehyahnl</h3><br>
                  <h3 class="card-1 btn btn-lg btn--radius m-b-20 m-t-10 bg-grey">client</h3><br>
                  <h3>source</h3><br>
                  <h3>dest</h3><br>
                  <h3>truck</h3><br>
                  <h3>price</h3><br>
                  <h3>status</h3><br>
                  <h3></h3><br>
                  <h3></h3><br>
                    <div class="p-t-20">
                        <a href="/" class="btn btn--radius btn--green" >Home</a>
                    </div>

            </div>
        </div>
    </div>
</div>




  <%- include("partials/footer2.ejs"); -%>
