<%- include("partials/header2.ejs"); -%>

<div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w780">
        <div class="card card-1">
            <div class="card-body">
                <div style="text-align: center;">
                  <img style="max-width:30%" src="img/remove.png" >
                  <br>
                  <br>
              <h2><%= content %></h2><br>
              <div class="p-t-20">
                  <button class="btn btn--radius btn--green" type="submit">Home</button>
              </div>
            </div>
           </div>
        </div>
    </div>
</div>









  <%- include("partials/footer2.ejs"); -%>
