<%- include("partials/header2.ejs"); -%>

<div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"><img class="image" src="img/truck2.jpg"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>

                    <div class="holder">
			<h2>Vertical Setup</h2>
			<ul class="SteppedProgress Vertical">
				<li class="complete"><span>Step 1</span></li>
				<li class="complete"><span>Step 2</span></li>
				<li class="complete"><span>Step 3</span></li>
				<li class="complete"><span>Step 4</span></li>
				<li class="complete"><span>Step 5</span></li>
				<li class=""><span>Step 6</span></li>
			</ul>
      </div>

                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit">Submit</button>
                    </div>
        
            </div>
        </div>
    </div>
</div>




  <%- include("partials/footer2.ejs"); -%>
