<%- include("partials/header2.ejs"); -%>

<div class="page-wrapper bg-orange p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"><img class="image" src="img/truck2.jpg"></div>
            <div class="card-body">
                <h2 class="title">Consignment Info</h2>
               <h4>The total volume for consignment delivery is :</h4><br>
               <% price.forEach( function(weight){ %>
                 <h3><%= weight.w %></h3>
               <% }); %>
               <button class="btn btn-lg btn--radius btn--green">Confirm</button>
            </div>
        </div>
    </div>
</div>




  <%- include("partials/footer2.ejs"); -%>
